<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.miShop.mapper.NavigationMapper">

  <resultMap id="findNav" type="com.group.miShop.domain.entity.Navigation">
    <id property="navId" column="nav_id"></id>
    <result property="navName" column="nav_name"></result>
    <collection property="navMenuList" ofType="com.group.miShop.domain.entity.NavMenu">
      <id property="menuId" column="menu_id"></id>
      <result property="menuName" column="menu_name"/>
      <result property="menuPrice" column="menu_price"/>
      <result property="navImg" column="nav_img"/>
    </collection>
  </resultMap>

  <select id="findAllNav" resultMap="findNav">
    SELECT nav.nav_id ,nav.nav_name,menu.menu_name,menu.menu_price,menu.nav_img
    FROM navigation nav
    LEFT JOIN nav_menu menu
    ON nav.nav_id = menu.nav_id
  </select>

</mapper>