<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.miShop.mapper.ShopCarMapper">

  <!-- 一个用户对象对应多个购物车记录 一个购物车记录又对应一个商品记录 -->
  <resultMap id="shopCar" type="ShopCar">
    <id property="carId" column="car_id"></id>
    <result property="number" column="number"></result>
    <result property="shopId" column="shop_id"></result>
  </resultMap>

  <select id="findByUidShopId" resultMap="shopCar">
    SELECT *
    FROM shop_car sc
    WHERE sc.uid=#{uid} AND sc.shop_id=#{shopId} AND sc.status=1
  </select>

  <update id="updateNumber" >
    UPDATE shop_car sc
    SET sc.number=#{number}
    WHERE sc.uid=#{uid} AND sc.shop_id=#{shopId}
  </update>

  <insert id="insertShopCar">
    INSERT INTO  shop_car sc
    (sc.uid,sc.shop_id,sc.number)
    VALUE (#{uid},#{shopId},#{number})
  </insert>

  <update id="falseDel">
    UPDATE shop_car sc
    SET sc.status=0
    WHERE sc.car_id=#{carId};
  </update>

  <update id="updateByOp">
    UPDATE shop_car sc
    <if test="op != null and  op==1">
      SET  sc.number = sc.number+1
    </if>
    <if test="op != null and op==2">
      SET  sc.number = sc.number-1
    </if>
    WHERE sc.car_id=#{carId}
  </update>

  <!-- 通过uid 找到购物车记录 -->
  <resultMap id="find" type="ShopCar">
    <id property="carId" column="car_id"></id>
    <result property="number" column="number"></result>
    <result property="shopId" column="shop_id"></result>
    <collection property="shopVoList" ofType="com.group.miShop.domain.vo.ShopVo">
      <id property="shopName" column="shop_name"></id>
      <result property="shopMsg" column="shop_msg"></result>
      <result property="promotePrice" column="promote_price"></result>
      <collection property="shopImageList" resultMap="shopImg"></collection>
    </collection >
  </resultMap>

  <resultMap id="shopImg" type="com.group.miShop.domain.entity.ShopImage">
      <id property="shopImgId" column="shop_img_id"></id>
      <result property="shopImg" column="shop_img"></result>
  </resultMap>

  <select id="findShopCarById" resultMap="find">
    SELECT sc.car_id, sc.shop_id,sc.number,simg.shop_img,s.promote_price,shop_name,s.shop_msg,simg.status
    FROM shop_car sc LEFT JOIN shop s ON sc.shop_id =s.shop_id
    LEFT JOIN shop_image simg ON sc.shop_id = simg.shop_id
    WHERE sc.uid=#{uid} AND sc.status=1;
  </select>
</mapper>